/** @format */

.heading {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 17px;
	/* identical to box height */

	text-align: center;

	/* Neutral/800 */

	color: #292e3d;
}
